@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Rubik+Glitch&display=swap');

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
}

:root {
    --primary: #553986;
}

h1,
h2,
h3 {
    font-family: 'Rubik Glitch', system-ui;
    color: var(--primary);
}

#logo {
    width: 50px;
    margin-right: 10px;
}

#logotype {
    color: var(--primary);
    font-size: 28px;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

h1 {
    font-size: 28px;
}

.nav-item {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    text-decoration: underline;
}

header>nav>ul {
    display: flex;
    gap: 20px;
}

.techs {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

#tecnologias {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

#sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    background-color: var(--primary);
    color: white;
    padding: 25px;
}

#sobre > h1 {
    color: white;
}

#sobre > p {
    max-width: 340px;
    font-weight: 600;
    margin-bottom: 20px;
}

#contato {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

#contato > form {
    font-weight: 600;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px 0;
}

#contato > form > input {
    flex: 1;
}

input, textarea {
    border-width: 3px;
    border-style: solid;
    border-color: var(--primary);
    border-radius: 5px;
    text-align: left;
    /* border: 1px solid var(--primary); */
}

input {
    padding: 8px 4px;
}

textarea {
    padding: 8px 4px;
    resize: none;
    min-height: 150px;
    white-space: normal;
}

textarea[placeholder] {
    white-space: normal;
}

#contato > form > textarea {
    grid-column: span 2;
}

.techs>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 180px;
    height: 240px;
}

.techs>div>h2 {
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    min-height: 40px;
    font-size: 22px;
}

.techs>div>ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
}

.techs>div>ul>li {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 20px;
}

.techs>div>ul>li>span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
}

.icon {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    object-fit: contain;
    aspect-ratio: 1/1;
    height: 30px;
}